language: c
sudo: required

before_install:
    - cd tests
    - curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
    - chmod 755 ./travis-tool.sh
    - ./travis-tool.sh bootstrap

install:
    - sudo apt-get install -y libv8-dev
    - ./travis-tool.sh install_deps
    - ./travis-tool.sh install_github ropenscilabs/jsonvalidate

script: make test
